h1,
h2,
p,
figure,
.graphic,
.images,
footer {
  text-align: center;
}

footer {
  padding: .2em;
}

.virtual {
  padding: 10em;
  color: black;
}

h1 {
  font-size: 10em;
  color: whitesmoke;
  padding: .5em 1em 2em 1em;
  background-image: url(/j352/final/photos/alyssa.jpeg);
}

p,
figure {
  font-size: 1.5em;
  padding: .2em;
}

.row {
  padding: 0em 2em 10em 2em;
}

.img-fluid {
  padding: 15em 0em 0em 0em;
}

h2 {
  font-size: 3em;
  color: white;
  font-weight: bold;
  display: block;
  background-color: red;
  block-size: 1.25em;
}


h3 {
  font-size: .5em;
  text-align: center;
}